#overlay{
    text-align:center;
    display: none;
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index:1001;
      margin: 0 auto;      
  }
  
  #overlay-content{
      text-align: center; 
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      background-color: lightgrey;
      z-index:1002;

      img{
        margin-top: 25vh;
        max-height: 200px;
        max-width: 200px;
        z-index: 1010;
      }
  }

  .table>tbody>tr>td{
    padding: 2px;
  }

  .title{
    text-align: center;
  }