@import "./style-izanderson.scss";
@import "./style-wendell.scss";
@import "./style-andressa.scss";

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
	cursor: auto;
}

hr {
	width: 100%;
	display: inline-block;

}

.inative {
	color: #bbb;
}

table>tbody>tr>td:last-of-type {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.btn+.btn {
		margin-left: 5px;
	}
}

.content-wrapper {
	position: relative;
    margin-bottom: 50px;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.anim-rotate {
	animation: rotate .5s linear infinite;
}

.pull-right+.pull-right {
	margin-right: 15px;
}

.spinner-area {
	position: absolute;
	z-index: 99999999999999;
	width: 100%;
	height: 100%;
	top: 0;
	background: #ecf0f5;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 1s;
	top: 0;
	left: 0;

	.spinner {
		top: 50%;
		padding-bottom: 50px;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
		width: 70px;


		i {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 70px;
		}
	}
}

.table .btn {
	padding: 2px 10px;
	min-width: 100px;
}

.table .btn.btn-small {
	padding: 2px 10px;
	min-width: auto;
}

.middle-flex {
	display: flex;
	justify-content: center;
	align-items: center;

	&.-mf-left {
        *+*{ margin-right: 5px;}
		justify-content: flex-start;
	}

	&.-mf-right {
        *+*{ margin-left: 5px;}
		justify-content: flex-end;
	}
}

#home{
    
}

.dataTables_wrapper.form-inline.dt-bootstrap>.row:first-of-type{
    display: flex;
    justify-content: flex-start;
    .col-sm-6:last-of-type{
        width: 100%;
    }
}

.main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 100%;
    margin-bottom: 20px;

}
.progress-description, .info-box-text{
    &.-wrap{
        white-space:normal;
        font-size: 1.6em;
    }
}
.small-box p{
    font-size: 1.3em;
}