.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background: #ecf0f5;
}

//header
.main-header {
	.logo {
        width: auto;
        float: left !important;
		height: auto;
		.logo {
			font-size: 16px;
			b{
				font-size: 20px;
				padding-right: 15px;
				border-right: 1px solid #fff;
				margin-right: 15px;
			}
		}

		@media (max-width: 575px) {
			.logo-mini {
                display: block;
                padding: 2px 0;
			}
	
			.logo {
				display: none;
			}
		}
    }

	.navbar {
		margin-left: 0;
    }
}

.content-wrapper, .main-footer {
	margin-left: 0;
}

h1, .main-footer {
	color: #444;
}

.info-box {
	.info-box-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.info-box-content {
		padding: 15px 10px;

		.info-box-text {
			font-weight: bold;
		}

		.info-box-number {
			font-weight: normal;
		}
	}
}

.title-to-do {
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	.navbar-nav {
		.user-menu {
			.user-image {
				margin-top: 0;
			}
		}
	}

	.small-box .icon {
		display: inherit;
	}
}